.form
  %h2
    Edit profile
  = simple_form_for @profile, url: user_profile_path(current_user) do |f|
    .form-inputs
      = f.input :name
      .custom-file-upload
        = f.input :avatar, as: :file
        Avatar upload
    .form-actions
      = f.button :submit
