.main
  %section.friends
    - if current_user.requested_friendships.any? || current_user.pending_friends.any?
      %h3
        pending friends
      .list
        %ul
          - current_user.requested_friendships.each do |friend|
            %li
              - if friend.profile.avatar.present?
                .show-profile-avatar-wrapper
                  = image_tag friend.profile.avatar, class: "show-profile-avatar"
              - else
                %svg
                  %circle{ style: "fill: ##{SecureRandom.hex(3)}"}
              = friend.name
              = link_to "accept",  friendship_path(id: friend.id), method: :put
              = link_to "decline", friendship_path(id: friend.id), method: :delete
        %ul
          - current_user.pending_friends.each do |friend|
            %li
              - if friend.profile.avatar.present?
                .show-profile-avatar-wrapper
                  = image_tag friend.profile.avatar, class: "show-profile-avatar"
              - else
                %svg
                  %circle{ style: "fill: ##{SecureRandom.hex(3)}"}
              = friend.name

    - if current_user.friends.present?
      %h3
        friends
      .list
        %ul
          - current_user.friends.each do |friend|
            %li
              - if friend.profile.avatar.present?
                .show-profile-avatar-wrapper
                  = image_tag friend.profile.avatar, class: "show-profile-avatar"
              - else
                %svg
                  %circle{ style: "fill: ##{SecureRandom.hex(3)}"}
              = friend.name

    %h3
      available friends
    .list
      %ul
        - current_user.available_friends.each do |friend|
          %li
            - if friend.profile.avatar.present?
              .show-profile-avatar-wrapper
                = image_tag friend.profile.avatar, class: "show-profile-avatar"
            - else
              %svg
                %circle{ style: "fill: ##{SecureRandom.hex(3)}"}
            = friend.name
            = link_to "add friend", friendships_path(friend_id: friend.id), method: :post
    %h3
      friends' books
    .booklist
      %ul
        - @copies.each do |copy|
          %li
            %svg
              %rect{ style: "fill: ##{SecureRandom.hex(3)}"}
            .booktitle
              = copy.book.title
            .author
              = copy.book.author
            = link_to "Borrow book from #{copy.owner.name}", user_book_copy_rental_books_path(current_user, copy), method: :post

  %section.books
    = image_tag current_user.profile.avatar

    %h3
      books on home shelf
    = link_to "add book", new_book_path
    .booklist
      - if current_user.available_copies.present?
        - current_user.available_copies.each do |copy|
          %svg
            %rect{ style: "fill: ##{SecureRandom.hex(3)}"}
          .booktitle
            = copy.book.title
          .author
            = copy.book.author
      - else
        .alert
          your shelf is empty! :(

  %section.status
    %h3
      borrowed books
    .booklist
      - @borrowed_books.each do |copy|
        %svg
          %rect{ style: "fill: ##{SecureRandom.hex(3)}"}
        .booktitle
          = copy.book.title
        .author
          = copy.book.author
          from
          = copy.owner.name

      - @borrow_books.each do |copy|
        %svg
          %rect{ style: "fill: ##{SecureRandom.hex(3)}"}
        .booktitle
          = "#{copy.book.title} (pending)"
        .author
          = copy.book.author
          from
          = copy.owner.name

    %h3
      lent books
    .booklist
      - current_user.lend_books.each do |copy|
        %svg
          %rect{ style: "fill: ##{SecureRandom.hex(3)}"}
        .booktitle
          = "#{copy.book.title} (pending)"
        .author
          = copy.book.author
        = link_to "lend", user_book_copy_rental_book_path(current_user, copy, copy.rental_books.last), method: :put
        = link_to "dismiss", user_book_copy_rental_book_path(current_user, copy, copy.rental_books.last), method: :delete
        to
        = copy.rental_books.last.user.name
      - current_user.lent_books.each do |copy|
        %svg
          %rect{ style: "fill: ##{SecureRandom.hex(3)}"}
        .booktitle
          = copy.book.title
        .author
          = copy.book.author
        to
        = copy.rental_books.last.user.name
