@import "mixins"

.friends
  width: 30%
  margin: 10px
.books
  width: 40%
  margin: 10px
.status
  width: 30%
  margin: 10px
h3
  color: $navy
  margin: 40px 0px 5px 70px
.list
  margin-left: 40px
  padding: 2px
  background-color: ivory
  border-radius: 10px
  .alert
    color: $navy
    border-radius: 10px
    font-style: italic
    float: none

ul
  margin: 0
  padding: 0
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
li
  padding: 0
  margin: 10px
  list-style: none
  font-size: 18px
  text-align: center
  max-width: 100px
  word-wrap: break-word

  a
    font-size: 11px
    display: block

.booklist
  margin-left: 40px
  padding: 2px
  .alert
    color: $navy
    border-radius: 10px
    font-style: italic
    float: none

svg
  width: 90px
  height: 90px
  circle
    width: 90px
    height: 90px
    cx: 50%
    cy: 50%
    r: 50%
  display: block
  rect
    width: 80px
    height: 110px
.books
  svg
    width: 120px
    height: 180px
    rect
      width: 120px
      height: 180px
.show-profile-avatar-wrapper
  width: 90px
  height: 90px
  border-radius: 50%
  overflow: hidden
.show-profile-avatar
  height: 100%
