@import "mixins"

@font-face
  font-family: 'bariolregular'
  src: url('bariol-webfont.woff2') format('woff2'),
  src: url('bariol-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

body
  margin: 0px
html
  background-color: $yellow
  font-family: 'bariolregular', sans-serif
  color: $navy
  font-size: 24px

.navbar-text
  height: 85px
  width: 100%
  background-color: ivory
.navbar-link
  padding: 26px 10px 0px 10px
  text-decoration: none
  color: inherit
  float: right
.navbar-link:first-of-type
  padding-right: 100px
.title
  padding: 10px 10px 0px 100px
  font-size: 40px
  float: left
  color: $yellow
  font-weight: bolder
.user
  padding-top: 26px
  font-style: italic
  float: left
.alert
  color: $yellow
  padding: 26px 10px 0px 0px
  align-items: center
  font-style: italic
  float: left
.main
  display: flex
.form
  display: flex
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  padding: 10px 150px 50px 150px
  margin: 20px
  background-color: ivory
a
  text-decoration: none
  color: inherit
h2
  color: $yellow
  margin: 20px 0px
input
  display: block
  width: 385px
  padding: 12px 0px
  margin: 8px 0
  border: 1px solid $yellow
  border-radius: 4px
  box-sizing: border-box
input[type=checkbox]
  margin-right: 5px
  width: auto
  display: inline
input[type=file]
  display: none
  position: relative
.custom-file-upload
  position: relative
  label
    display: none
  text-align: center
  border: none
  padding: 6px 12px
  cursor: pointer
  border-radius: 4px
  background-color: $light-yellow
  &:after
    content: ""
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
input[type=submit]
  font-size: inherit
  width: 385px
  background-color: $yellow
  color: white
  padding: 10px 0px
  margin: 8px 0
  border: none
  border-radius: 4px
  cursor: pointer
.hint
  font-size: 20px
  color: $yellow
.edit-user
  margin-left: 100px

// to profile css
