!!!
%html
  %head
    %title
      HomeShelf
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    .navbar-text
      .title
        - if user_signed_in?
          = link_to "HomeShelf", user_profile_path(current_user)
        - else
          HomeShelf
      .alert
        - if notice
          = notice
        - if alert
          = alert
      - if user_signed_in?
        .user
          - if current_user.profile.name.present?
            = current_user.profile.name
            's shelf
          - else
            = current_user.email
        = link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-link'
        = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'

      - else
        = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
        = link_to "Log in", new_user_session_path, :class => 'navbar-link'
    = yield
